<div>
    <p class="header-section bg-primary">Plan de parution complet de l'édition</p>
    <h4><strong>{{etablissement.selected.libelle}}</strong></h4>
    <div justgage
         title="Montant SEARCH" title-font-color="#399AD8"
         value="{{etablissement.selected.montants.search}}" value-font-color="#399AD8"
         width="174" height="150" 
         min="0" max="{{etablissement.selected.montants.ts}}"
         gauge-color="#399AD8"
         label="€" label-font-color="#333"
         refresh-animation-time="1"
         start-animation-time="50"
         counter="10"
         humanFriendly="true"
         text-renderer="textRenderer"></div>
    <div justgage
         title="Montant SITE" title-font-color="#399AD8"
         value="{{etablissement.selected.montants.site}}" value-font-color="#399AD8"
         width="174" height="150" 
         min="0" max="{{etablissement.selected.montants.ts}}"
         gauge-color="#399AD8"
         label="€" label-font-color="#333"
         refresh-animation-time="1"
         start-animation-time="50"
         counter="10"
         humanFriendly="true"
         text-renderer="textRenderer"></div>
     <div justgage
         title="Montant DISPLAY" title-font-color="#399AD8"
         value="{{etablissement.selected.montants.display}}" value-font-color="#399AD8"
         width="174" height="150" 
         min="0" max="{{etablissement.selected.montants.ts}}"
         gauge-color="#399AD8"
         label="€" label-font-color="#333"
         refresh-animation-time="1"
         start-animation-time="50"
         counter="10"
         humanFriendly="true"
         text-renderer="textRenderer"></div>
     <div justgage
         title="Montant PRINT" title-font-color="#399AD8"
         value="{{etablissement.selected.montants.print}}" value-font-color="#399AD8"
         width="174" height="150" 
         min="0" max="{{etablissement.selected.montants.ts}}"
         gauge-color="#399AD8"
         label="€" label-font-color="#333"
         refresh-animation-time="1"
         start-animation-time="50"
         counter="10"
         humanFriendly="true"
         text-renderer="textRenderer"></div>
</div>