<div class="modal-header"><h3 class="modal-title">Aide Utilisateur</h3></div>

<div class="modal-body help">
	Bienvenue dans l’aide en ligne de  Geopro. Nous allons vous présenter les différentes fonctionnalités de l'outil.
	<h2>Sommaire</h2>
	<ol>
		<li>La carte</li>
		<li>Indicateurs de la carte</li>
		<ol>
			<li>Indicateurs de la carte</li>
			<li>Les pop up</li>
		</ol>
		<li>Les données</li>
		<ol>
			<li>Potentiel d’audience</li>
			<li>Parution</li>
			<li>Montants du plan de parution du professionnel</li>
			<li>Constitution des listes réponses</li>
			<li>Données d’audience</li>
		</ol>
		<li>Filtres</li>
		<ol>
			<li>Zone de chalandise</li>
			<li>Les établissements</li>
			<li>Les parutions</li>
		</ol>
		<li>Panier</li>
		<ol>
			<li>Tableau</li>
			<li>Export</li>
		</ol>
		<li>Laissez un commentaire</li>
	</ol>

	<h2>1. La carte</h2>
	<h3>1.1. Indicateurs de la carte</h3>
	<ul>
		<li><strong>Potentiel d'audience</strong></li>
		<li class="list-unstyled">
			<p>
				Ne s’active que lorsqu’une activité est sélectionnée.
				Découpage en 4 tranches (par activité) du nombre de recherches inconnues (ou pures) sur les 12 derniers mois glissants.
				Le nombre exact de recherches inconnues se trouve dans la pop up localité : « Nb recherches »
				Exemple d’une recherche inconnue ou activité pure : « Plombiers » à Sélestat ou « Garages Automobiles » à Perpignan.
			</p>
		</li>
		<li><strong>Parution (Option filtres)</strong></li>
		<li class="list-unstyled">
			<p>
				Ne s’active que lorsqu’un établissement et une activité sont sélectionnés. (SI le bouton ON est activé)
				Ce sont les produits valides en cours de parution OU les produits validés qui vont paraitre (exemple une pôle position vendue et en parution seulement dans 6 mois).
				Lorsque vous activez le filtre « parution », il est possible d’afficher les produits du professionnel sélectionné, sur l’activité sélectionnée.
				En choisissant un produit SEARCH, un contour bleu apparaitra sur les localités que le professionnel a souscrites
				S’il a souscrit  un produit départemental, la liste des départements souscrits apparaitra dans le menu filtre.
			</p>
		</li>
		<li><strong>Les établissements (Option filtres)</strong></li>
		<li class="list-unstyled">
			<p>
				Ne s’active que lorsqu’une activité est sélectionnée. (Ou une activité + un établissement)
				Il est possible d’afficher les prospects en noir (rubrique officielle de parution  sur l’activité sélectionnée) et/ou les clients en bleu (au moins 1 € TS dépensé sur l’activité sélectionnée).
			</p>
		</li>
		<li><strong>Zone de chalandise (Option filtres)</strong></li>
		<li class="list-unstyled">
			<p>
				Il est possible de faire une zone de chalandise :
				<ul>
					<li>autour d’un établissement (si vous avez sélectionné un établissement + une activité)</li>
					<li>autour du centre d’une localité (si vous avez sélectionnée une activité + une localité)</li>
				</ul>
				Avec le curseur, vous pouvez définir une zone de 0 à 100 km.
			</p>
		</li>
		<li><strong>Zone Urbaine (ZU)</strong></li>
		<li class="list-unstyled">
			<p>
				En arrière plan, il est possible de voir le contour autour des ZU des principales agglomérations de France. Certaines activités ne sont pas soumises aux ZU. Il y a 160 ZU à date.
				Pour rappel : un client présent dans la ZU d’une ville peut paraitre localement sur cette grande ville.
			</p>
		</li>
	</ul>
	<h3>1.2. Les pop up</h3>
	<ul>
		<li>Pop up localités</li>
		<ul>
			<li>Nom de la localité</li>
			<li>Code Insee</li>
			<li>Nb recherches pures : Nombre de recherches inconnues (pures) sur les 12 derniers mois glissants</li>
			<li>Locaux rankés : Nombre de blocs locaux rankés sur l’activité * localité</li>
			<li>Locaux non rankés : Nombre de blocs locaux non rankés sur l’activité * localité</li>
			<li>Extralocaux rankés : Nombre de blocs extralocaux rankés sur l’activité * localité</li>
			<li>Extralocaux non rankés : Nombre de blocs extralocaux non rankés sur l’activité * localité</li>
		</ul>
		<li>Pop up professionnel</li>
		<ul>
			<li>Client :</li>
			<ul>
				<li>Raison Sociale</li>
				<li>Code EPJ</li>
				<li>Rubrique principale : L’activité principale du professionnel en terme de ventes TS</li>
				<li>Montant TS :</li>
				<li>Montant SEARCH</li>
				<li>Montant SITES</li>
				<li>Montant DISPLAY</li>
				<li>Montant PRINT</li>
			</ul>
			<li>Prospect :</li>
			<ul>
				<li>Raison Sociale</li>
				<li>Code EPJ</li>
				<li>Rubrique officielle : L’activité principale du professionnel (la rubrique officielle (RO))</li>
				<li>Appétence prospect : Note de 1 à 4 étoiles (Plus le prospect a d’étoiles plus la probabilité est forte de pouvoir le transformer) </li>
			</ul>
		</ul>
	</ul>

	<h2>2. Les données</h2>
	<h3>2.1. Potentiel d’audience</h3>
	<p>
		Découpage en 4 tranches (par activité) du nombre de recherches inconnues (ou pures) sur les 12 derniers mois glissants.
		Le nombre exact de recherches inconnues se trouve dans la pop up localité : « Nb recherches pures »
		Exemple d’une recherche inconnue ou activité pure : « Plombiers » à Sélestat ou « Garages Automobiles » à Perpignan.
	</p>
	<h3>2.2. Parution</h3>
	<p>
		Ce sont les produits valides en cours de parution OU les produits validés qui vont paraitre (exemple une pôle position vendue et en parution seulement dans 6 mois).
	</p>
	<h3>2.3. Montants du plan de parution du professionnel</h3>
	<p>
		Ce sont les montants par support du dernier plan de parution traité intégralement sur une édition.
	</p>
	<h3>2.4. Constitution des listes réponses</h3>
	<p>
		Dernière requête la plus recherchée sur les trois derniers mois produisant une liste réponse contenant l’activité sélectionnée.
	</p>
	<blockquote>
		Exemple :
		<p>
			Photographe à Sélestat est la requête la plus recherchée qui ramène dans la liste réponse deux activités (Photographe publicitaire et Photographe de portraits).
			Si vous tapez sur PJ Photographe publicitaire (jamais recherché tel quel), vous n’aurez pas le même résultat pour la LR.
			Il est donc possible d’avoir deux LR identiques pour deux activités différentes.
		</p>
	</blockquote>
	<h3>2.5. Données d’audience</h3>
	<p>
		Pour obtenir toutes les données d’audience, il faut exporter les données du panier en PDF ou en CSV.
	</p>

	<h2>3. Filtres</h2>
	<h3>3.1. Zone de chalandise</h3>
	<p>
		Si vous avez sélectionné un établissement, il est possible de dessiner une zone de chalandise autour de ce professionnel (entre 0 et 100km).
		Si vous avez sélectionné uniquement une activité (pas d’établissement sélectionné), il est possible de dessiner une zone de chalandise autour du centre de la localité (entre 0 et 100km)
	</p>

	<h3>3.2. Les établissements</h3>
	<p>
		Il est possible d’afficher les établissements concurrents sur l’activité sélectionnée (soit tous les établissements, les prospects ou les clients).
	</p>

	<h3>3.3. Les parutions</h3>
	<p>
		Il est possible d’afficher toutes les parutions en cours ou pas encore en parution d’un professionnel sur l’activité sélectionnée.
	</p>

	<h2>4. Panier</h2>
	<h3>4.1. Tableau</h3>
	<p>
		Il est possible d’ajouter des données sur la localité * activité au panier : Trois façons
	</p>
	<ul>
		<li>Une par une</li>
		<li class="list-unstyled">
			En cliquant sur la pop up d’une localité possédant des informations d’audience et en en cliquant sur « ajouter au panier »
		</li>
		<li>Toutes les données de l’écran</li>
		<li class="list-unstyled">
			En cliquant sur le bouton « toutes les données de l’écran » dans le panier. Vous aurez ainsi toutes les données de l’écran qui s’afficheront dans le panier sur l’activité sélectionnée
		</li>
		<li>Toutes les données de la zone de chalandise</li>
		<li class="list-unstyled">
			En cliquant sur le bouton « toutes les données de la zone de chalandise » dans le panier (si la zone de chalandise est activée et affichée pour une localité ou pour un professionnel). Vous aurez ainsi toutes les données de la zone de chalandise qui s’afficheront dans le panier sur l’activité sélectionnée.
		</li>
	</ul>
	<p>
		Si vous ajoutez plusieurs fois la même localité sur une activité donnée, elle n’apparaitra qu’une seule fois dans le panier.
		Il est possible de supprimer des localités une par une du panier ou de vider le panier totalement
		Si votre panier est conséquent, il est également possible de filtrer par activité et/ou par localité en tapant dans les barres prévues à cet effet.
	</p>
	<h3>4.2. Export</h3>
	<p>
		Il est possible d’exporter les données en CSV ou en PDF. Vous aurez à disposition dans le document toutes les données de recherches, clics et contacts sur l’ensemble des activités*localités sélectionnés.
	</p>

	<h2>5. Laissez un commentaire</h2>
	<p>
		Il est possible que vous laissiez un commentaire si vous avez identifié d’éventuels problèmes ou si vous souhaitez partager sur d’éventuels souhaits d’évolution ou simplement faire un retour sur l’outil (cas concret d’utilisation)
	</p>
</div>

<div class="modal-footer">
	<button class="btn btn-warning" ng-click="close()">Fermer</button>
</div>